// Shevy is a typography library.
@import 'node_modules/shevy/core/shevy';
$shevy: (
  base-font-size: 16px,
);
@include headings;
@include body;
@include content;

body {
    font-family: sans-serif;
}

header, main {
    margin: 1rem auto;
}

header {
    max-width: 45rem;
    display: flex;
    align-items: center;
    div {
        margin-left: 2rem;
    }
    h1 {
        margin: 0.5rem 0;
    }
    nav {
        margin: 0;
        a {
            text-decoration: none;
            font-weight: bold;
            color: inherit;
            margin-right: 1rem;
        }
    }
}

main {
    max-width: 35rem;
}
