// Shevy is a typography library.
@import 'node_modules/shevy/core/shevy';
$shevy: (
  base-font-size: 16px,
);
@include headings;
@include body;
@include content;

body {
    font-family: sans-serif;
}

header, main {
    margin: 1rem auto;
}

header {
    max-width: 45rem;
    display: flex;
    align-items: center;
    h1 {
        margin-left: 2rem;
    }
}

main {
    max-width: 35rem;
}
